node_modules
.next
.git
.env
.env.*
yarn.lock
pnpm-lock.yaml
coverage
dist
build
.vscode
.idea
tests
__tests__
**/*.test.*
**/*.spec.*
**/*.stories.tsx
**/*.stories.ts
.storybook
volumes
storybook-static